<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="board">

	<insert id="insert" parameterType="Board" useGeneratedKeys="true" keyProperty="no" keyColumn="no">
		INSERT INTO board(no, title, content, writer)
		VALUES (SEQ_BOARD.NEXTVAL, #{title}, #{content}, #{writer})
	</insert>
	
	<select id="selectAll" resultType="Board">
		SELECT no, title, content, writer, regdate FROM board
	</select>
	
	<select id="select" parameterType="int"	resultType="com.kh.mvc.model.vo.Board">
		SELECT * FROM BOARD WHERE NO = #{no}
	</select>
	
	<update id="update" parameterType="com.kh.mvc.model.vo.Board">
		UPDATE BOARD
		SET TITLE = #{title},
		CONTENT = #{content},
		WRITER = #{writer},
		REGDATE = #{regdate}
		WHERE NO = #{no}
	</update>
	
	<delete id="delete" parameterType="int">
		DELETE FROM BOARD WHERE NO = #{no}
	</delete>
	
</mapper>